body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    height: 300px;
    width: 202px;
}

#screen {
    height: 75px;
    width: 200px;
    border: 1px solid black;
}

#numbers {
    padding: 10px;
}

button {
    padding: 15px;
}
